<div class="solution my-4 py-2" lang="{{'_lang' | translate}}" dir="{{'_lang_dir' | translate}}">
    <div class="container ">
        <div class="d-flex">
            <div class="">
                <p class="text-lightGray">{{"solutions.home"|translate}}</p>
            </div>
            <div class="px-2">
                <i class="text-lightBlack fa-solid fa-caret-left"></i>
            </div>
            <div>
                <p class="text-lightBlack">{{"solutions.solutions"|translate}}</p>
            </div>
        </div>
    </div>

    <section class="cybersecurity-governance my-5">
        <div class="container">
            <div class="row d-flex align-items-center justify-content-between flex-lg-row flex-column">
                <div class="col-lg-5 col-12">
                        <p class="fs-24 fw-bold">{{"solutions.cybersecurity_consulting_services"|translate}}</p>
                        <p class="text-lightGray">{{"solutions.our_services_start_from_requirement_analysis"|translate}}</p>
                 
                </div>
                <div class="col-lg-6 col-12">
                    <div class="position-relative">
                        <img src="/assets/img/Rectangle 31.png" alt="" class="overflow-hidden w-100">
                        <div class="cover-img w-100"></div>
                    </div>
                </div>
            </div>
        </div>
        
    </section>
    <section class="cybersecurity-governance">
        <div class="container ">
            <div class="row d-flex align-items-start justify-content-between  flex-lg-row flex-column-reverse py-5">
                <div class="col-lg-6 col-12">
                    <div class="position-relative">
                        <img src="/assets/img/Rectangle 32.png" alt="" class="overflow-hidden w-100">
                        <div class="cover-img w-100"></div>
                    </div>
                </div>
                <div class="col-lg-5 col-12 text-lightGray">
                        <p class="fw-bold fs-18 text-orange ">{{"solutions.consulting_services"|translate}}</p>
                        <p class="pb-0 mb-0 fw-bold">{{"solutions.security_architecture_and_design_review"|translate}}</p>
                        <ul class="mt-0 pt-0">
                            <li class="pb-1">{{"solutions.network_architecture_and_design_review"|translate}}</li>
                            <li class="pb-1">{{"solutions.system_architecture_and_design_review"|translate}}</li>
                            <li class="pb-1">{{"solutions.business_model_review"|translate}}</li>
                            <li class="pb-1">{{"solutions.data_processing _review"|translate}}</li>
                        </ul>
                        <p class="pb-0 mb-0 fw-bold">{{"solutions.soc_maturity_assessment"|translate}}</p>
                        <ul class="mt-0 pt-0">
                            <li class="pb-1">{{"solutions.capabilities_and_maturity_assessment"|translate}}</li>
                            <li class="pb-1">{{"solutions.define_the_scope_of_work"|translate}}</li>
                            <li class="pb-1">{{"solutions.build_IR_plan_escalation_matrix"|translate}}</li>
                            <li class="pb-1">{{"solutions.build_use_cases_and_playbooks"|translate}}</li>
                        </ul>
                </div>                
            </div>
        </div>
    </section>
    <section class="cybersecurity-governance my-5">
        <div class="container text-lightGray">
            <div class="row d-flex align-items-center justify-content-between">
                <div class="col-lg-5 col-12">
                        <p class="fw-bold pb-0 mb-0">{{"solutions.security_configuration_review"|translate}}</p>
                        <ul>
                            <li>{{"solutions.firewall_ruleset_review"|translate}}</li>
                            <li>{{"solutions.security_benchmarks_review"|translate}}</li>
                        </ul>

                        <p class="fw-bold pb-0 mb-0 pt-2">{{"solutions.vulnerability_assessment"|translate}}</p>
                        <ul>
                            <li>{{"solutions.layer_devices_vulnerability_assessment"|translate}}</li>
                            <li class="py-3">{{"solutions.servers_vulnerability_assessment_on_all_revealing"|translate}}</li>
                        </ul>
                       
                </div>
                <div class="col-lg-6 col-12">
                    <div class="position-relative">
                        <img src="/assets/img/Rectangle 33.png" alt="" class="overflow-hidden w-100">
                        <div class="cover-img w-100"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="cybersecurity-governance my-5">
        <div class="container text-lightGray">
            <div class="row d-flex align-items-center justify-content-between">
                <div class="col-lg-6 col-12">
                    <div class="position-relative">
                        <img src="/assets/img/Rectangle 34.png" alt="" class="overflow-hidden w-100">
                        <div class="cover-img w-100"></div>
                    </div>
                </div>
                <div class="col-lg-5 col-12">
                        <p class="fw-bold pb-0 mb-0">{{"solutions.penetration_testing_services"|translate}}</p>
                        <ul>
                            <li>{{"solutions.red_teaming_exercises"|translate}}</li>
                            <li>{{"solutions.external_penetration_testing"|translate}}</li>
                            <li>{{"solutions.internal_penetration_testing"|translate}}</li>
                            <li>{{"solutions.web_application_penetration_testing"|translate}}</li>
                            <li>{{"solutions.mobile_application_penetration_testing"|translate}}</li>
                            <li>{{"solutions.wireless_network_penetration_testing"|translate}}</li>

                        </ul>

                        <p class="fw-bold pb-0 mb-0 pt-2">{{"solutions.source_code_review"|translate}}</p>
                        <ul>
                            <li>{{"solutions.analyze_vulnerable_parameter_passing"|translate}}</li>
                            <li class="">{{"solutions.analyze_vulnerable_function_calls"|translate}}</li>
                            <li class="">{{"solutions.analyze_insecure_cryptographic_usage"|translate}}</li>
                            <li class="">{{"solutions.analyze_vulnerable_library_usage"|translate}}</li>
                            <li class="">{{"solutions.analyze_bad_security_practices"|translate}}</li>
                            <li class="">{{"solutions.analyze_potential_architectural_threats"|translate}}</li>
                            <li class="">{{"solutions.analyze_design_security_laws"|translate}}</li>

                        </ul>        
                </div>
            </div>
        </div>
    </section>
    <section class="cybersecurity-governance my-5">
        <div class="container text-lightGray">
            <div class="row d-flex align-items-center justify-content-between">
                <div class="col-lg-5 col-12">
                        <p class="fw-bold ">{{"solutions.application_threat_modeling"|translate}}</p>
                        <ul>
                            <li>{{"solutions.decomposing_and_modeling_application"|translate}}</li>
                            <li>{{"solutions.creating_an_information_flow_diagram"|translate}}</li>
                            <li>{{"solutions.identifying_threat_agents"|translate}}</li>
                            <li>{{"solutions.determine_countermeasures_and_mitigation"|translate}}</li>

                        </ul>
                       
                </div>
                <div class="col-lg-6 col-12">
                    <div class="position-relative">
                        <img src="/assets/img/Rectangle 35.png" alt="" class="overflow-hidden w-100">
                        <div class="cover-img w-100"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>