<div class="solution my-4 py-2" lang="{{'_lang' | translate}}" dir="{{'_lang_dir' | translate}}">
    <div class="container ">
        <div class="d-flex">
            <div class="">
                <p class="text-lightGray">{{"solutions.home"|translate}}</p>
            </div>
            <div class="px-2">
                <i class="text-lightBlack fa-solid fa-caret-left"></i>
            </div>
            <div>
                <p class="text-lightBlack">{{"solutions.solutions"|translate}}</p>
            </div>
        </div>
    </div>

    <section class="cybersecurity-governance my-5">
        <div class="container">
            <div class="row d-flex align-items-center justify-content-between flex-lg-row flex-column">
                <div class="col-lg-5 col-12">
                        <p class="fs-24 fw-bold">{{"solutions.cybersecurity_awareness_and_training_program"|translate}}</p>
                        <p class="text-lightGray">{{"solutions.our_program_promotes_safe_online_behavior"|translate}}</p>
                       
                </div>
                <div class="col-lg-6 col-12">
                    <div class="position-relative">
                        <img src="/assets/img/Rectangle 41.png" alt="" class="overflow-hidden w-100">
                        <div class="cover-img w-100"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="cybersecurity-governance">
        <div class="container ">
            <div class="row d-flex align-items-center justify-content-between  flex-lg-row flex-column-reverse py-5">
                <div class="col-lg-6 col-12">
                    <div class="position-relative">
                        <img src="/assets/img/Rectangle 40.png" alt="" class="overflow-hidden w-100">
                        <div class="cover-img w-100"></div>
                    </div>
                </div>
                <div class="col-lg-5 col-12 text-lightGray">
                        
                        <ul class="fw-bold">
                            <li class="py-2">{{"solutions.assess_your_user_security_knowledge"|translate}}</li>
                            <li class="py-2">{{"solutions.train_your_users_with_access"|translate}}</li>
                            <li class="py-2">{{"solutions.send_fully_automated_simulated"|translate}}</li>
                            <li class="py-2">{{"solutions.phishing_and_training_recommendations"|translate}}</li>
                        </ul>
                </div>                
            </div>
        </div>
    </section>
 

</div>