<div class="solution my-4 py-2" lang="{{'_lang' | translate}}" dir="{{'_lang_dir' | translate}}">
    <div class="container ">
        <div class="d-flex">
            <div class="">
                <p class="text-lightGray">{{"solutions.home"|translate}}</p>
            </div>
            <div class="px-2">
                <i class="text-lightBlack fa-solid fa-caret-left"></i>
            </div>
            <div>
                <p class="text-lightBlack">{{"solutions.solutions"|translate}}</p>
            </div>
        </div>
    </div>

    <section class="cybersecurity-governance my-5">
        <div class="container">
            <div class="row d-flex align-items-center justify-content-between flex-lg-row flex-column">
                <div class="col-lg-5 col-12">
                        <p class="fs-24 fw-bold">{{"solutions.cybersecurity_governance_services"|translate}}</p>
                        <p class="text-lightGray">{{"solutions.our_services_include_performing_gap_analysis"|translate}}</p>
                        <p class="text-orange fs-20 fw-500 pt-3">{{"solutions.compliance_services"|translate}} :</p>
                        <p class="text-lightGray">{{"solutions.comply_with_international_and_local_standards"|translate}}</p>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="position-relative">
                        <img src="/assets/img/Rectangle 30 (1).png" alt="" class="overflow-hidden w-100">
                        <div class="cover-img w-100"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="cybersecurity-governance">
        <div class="container ">
            <div class="row d-flex align-items-start justify-content-between  flex-lg-row flex-column-reverse py-5">
                <div class="col-lg-6 col-12">
                    <div class="position-relative">
                        <img src="/assets/img/Rectangle 32.png" alt="" class="overflow-hidden w-100">
                        <div class="cover-img w-100"></div>
                    </div>
                </div>
                <div class="col-lg-5 col-12 text-lightGray">
                        <p class="fw-bold pb-0 mb-0">{{"solutions.national_cybersecurity_authority"|translate}}</p>
                        <p class="pt-0 mt-0">{{"solutions.our_compliance_services_include"|translate}}</p>
                        <ul>
                            <li class="pb-1">{{"solutions.essential_cybersecurity_controls"|translate}}</li>
                            <li class="pb-1">{{"solutions.critical_systems_cybersecurity_controls"|translate}}</li>
                            <li class="pb-1">{{"solutions.data_cybersecurity_controls"|translate}}</li>
                            <li class="pb-1">{{"solutions.organizations_social_media_accounts_cybersecurity_controls"|translate}}</li>
                            <li class="pb-1">{{"solutions.cloud_cybersecurity_controls"|translate}}</li>
                            <li class="pb-1">{{"solutions.telework_cybersecurity_controls"|translate}}</li>
                            <li class="pb-1">{{"solutions.operational_technology_cybersecurity_controls"|translate}}</li>
                        </ul>
                </div>                
            </div>
        </div>
    </section>
    <section class="cybersecurity-governance my-5">
        <div class="container text-lightGray">
            <div class="row d-flex align-items-center justify-content-between">
                <div class="col-lg-5 col-12">
                        <p class="fw-bold pb-0 mb-0">SAMA</p>
                        <p class="">{{"solutions.our_compliance_services_include_sama"|translate}}</p>
                        <ul>
                            <li>{{"solutions.our_compliance_services_include_sama"|translate}}</li>
                            <li>{{"solutions.cyber_security_framework"|translate}}</li>
                        </ul>

                        <p class="fw-bold pb-0 mb-0 pt-2">ISO</p>
                        <p>{{"solutions.our_compliance_services_include_the_iso"|translate}}</p>
                        <ul>
                            <li>ISO 27001.</li>
                            <li>ISO 27002.</li>
                        </ul>
                       
                </div>
                <div class="col-lg-6 col-12">
                    <div class="position-relative">
                        <img src="/assets/img/Rectangle 30 (3).png" alt="" class="overflow-hidden w-100">
                        <div class="cover-img w-100"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>