<section class="main py-0 px-0 mx-0 my-0 overflow-hidden" lang="{{'_lang' | translate}}" dir="{{'_lang_dir' | translate}}" >
  <div class="container-fluid px-0 overflow-hidden">
      <div class="background-main">
          <div class="cover-main py-0 my-0"></div>
          <div class="container">
              <div class="w-100 d-flex justify-content-end parent-logo-main">
                  <div class="logo-main">
                  </div>
              </div>

                  <div class="text-main mb-2">
                      <p class="w-50">{{"home.Where_trust_meets_commitment"|translate}}</p>
                  </div>
          </div>


      </div>
  </div>">
</section>

<section class="what-we-offer d-flex text-white overflow-hidden" lang="{{'_lang' | translate}}" dir="{{'_lang_dir' | translate}}">
              <div class="container-fluid ">
                  <div class="container mt-5">
                      <div class="d-flex justify-content-between align-items-center py-5 px-md-2 px-0">
                          <div class="text-offer ps-md-4 ps-0">
                              <p class="fs-24 fs-m-18 fw-bold">{{"home.what_we_offer"|translate}}</p>
                              <p class="fs-42 fs-m-20">{{"home.your_security_our_expertise"|translate}}</p>

                          </div>
                          <div class="logo-offer">

                          </div>
                      </div>
                      <div class="pt-3 position-relative">
                          <div class="d-flex flex-column pb-5">
                              <div class="d-flex align-items-center parent-list-offer" routerLink="cybersecurity-governance-service">
                                  <div class="list-offer mt-2 row d-flex justify-content-between align-items-center w-75">
                                      <div class="py-3 col-2 d-flex justify-content-center">
                                          <img src="/assets/img/cybersecurity-two-tone 1.png" alt="">
                                      </div>
                                      <div class="pt-2 pb-0 col-10">
                                          <p class="fs-24 fs-m-16 fw-500 pb-0 mb-0">{{"home.cybersecurity_governance_services"|translate}}</p>
                                          <p class="fs-20 fs-m-14 fw-200 pb-0 pt-1">{{"home.ensures_compliance"|translate}}</p>
                                      </div>
                                  </div>
                                  <div class="px-5">
                                      <button class="btn text-orange btn-offer rounded rounded-4">{{"btn.explore"|translate}}</button>
                                  </div>
                              </div>
                              <div class="d-flex align-items-center parent-list-offer"routerLink="cybersecurity-consulting-service">
                                  <div class="list-offer mt-4 row d-flex justify-content-between align-items-center w-75">
                                      <div class="py-3 col-2 d-flex justify-content-center">
                                          <img src="/assets/img/Group.png" alt="">
                                      </div>
                                      <div class="pt-2 pb-0 col-10">
                                          <p class="fs-24 fs-m-16 fw-500 pb-0 mb-0">{{"home.cybersecurity_consulting_services"|translate}}</p>
                                          <p class="fs-20 fs-m-14 fw-200 pb-0 pt-1">{{"home.provides_threat_modeling"|translate}}
                                          </p>
                                      </div>
                                  </div>
                                  <div class="px-5">
                                      <button class="btn text-orange btn-offer rounded rounded-4">{{"btn.explore"|translate}}</button>
                                  </div>
                              </div>
                              <div class="d-flex align-items-center parent-list-offer" routerLink ="cybersecurity-managed-services">
                                  <div class="list-offer mt-4 row d-flex justify-content-between align-items-center w-75">
                                      <div class="py-3 col-2 d-flex justify-content-center">
                                          <img src="/assets/img/services 1.png" alt="">
                                      </div>
                                      <div class="pt-2 pb-0 col-10">
                                          <p class="fs-24 fs-m-16 fw-500 pb-0 mb-0">{{"home.cybersecurity_managed_services"|translate}}
                                          </p>
                                          <p class="fs-20 fs-m-14 fw-200 pb-0 pt-1">{{"home.offers_continuous_monitoring"|translate}}</p>
                                      </div>
                                  </div>
                                  <div class="px-5">
                                      <button class="btn text-orange btn-offer rounded rounded-4">{{"btn.explore"|translate}}</button>
                                  </div>
                              </div>
                              <div class="d-flex align-items-center parent-list-offer">
                                  <div class="list-offer mt-4 row d-flex justify-content-between align-items-center w-75">
                                      <div class="py-3 col-2 d-flex justify-content-center">
                                          <img src="/assets/img/technology-shield 1.png" alt="">
                                      </div>
                                      <div class="pt-2 pb-0 col-10">
                                          <p class="fs-24 fs-m-16 fw-500 pb-0 mb-0">{{"home.cybersecurity_solutions_and_technologies"|translate}}</p>
                                          <p class="fs-20 fs-m-14 fw-200 pb-0 pt-1">{{"home.implements_data_identity_and_network_security"|translate}}</p>
                                      </div>
                                  </div>
                                  <div class="px-5">
                                      <button class="btn text-orange btn-offer rounded rounded-4">{{"btn.explore"|translate}}</button>
                                  </div>
                              </div>
                              <div class="d-flex align-items-center parent-list-offer"routerLink="cybersecurity-awareness-service">
                                  <div class="list-offer mt-4 row d-flex justify-content-between align-items-center w-75">
                                      <div class="py-3 col-2 d-flex justify-content-center">
                                          <img src="/assets/img/program 1.png" alt="">
                                      </div>
                                      <div class="pt-2 pb-0 col-10">
                                          <p class="fs-24 fs-m-16 fw-500 pb-0 mb-0">{{"home.cybersecurity_awareness_and_training_program"|translate}}</p>
                                          <p class="fs-20 fs-m-14 fw-200 pb-0 pt-1">{{"home.enhances_security_culture"|translate}}
                                          </p>
                                      </div>
                                  </div>
                                  <div class="px-5">
                                      <button class="btn text-orange btn-offer rounded rounded-4">{{"btn.explore"|translate}}</button>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="background-offer">
                      <div class="cover-offer">
                      </div>

                  </div>
              </div>

</section>

<section class="what-we-do py-5" lang="{{'_lang' | translate}}" dir="{{'_lang_dir' | translate}}">
  <div class="container my-3">
      <div class="d-flex justify-content-between align-items-center mt-5 px-2">
          <div class="text-do ps-4 d-inline">
              <p class="fs-24 fs-m-16 fw-bold">{{"home.what_we_do"|translate}}</p>
              <p class="fs-38 fs-m-20">Korem ipsum dolor sit amet, consectetur adipiscing elit.</p>

          </div>
          <div class="logo-do mb-2">

          </div>
      </div>
      <div class="row d-flex justify-content-center pt-5 ps-3">
          <div class="col-lg-3 col-md-6 col-12">
              <div>
                  <div class="py-2">
                      <img src="/assets/img/team 1.png" width="60" height="60" alt="">
                  </div>
                  <div>
                      <p class="fs-24 fw-500 mb-0 pb-0">{{"home.consultancy"|translate}}</p>
                      <p class="fs-16 text-lightGray">Dorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis.</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-12">
              <div>
                  <div class="py-2">
                      <img src="/assets/img/setting-3 1.png" width="60" height="60" alt="">
                  </div>
                  <div>
                      <p class="fs-24 fw-500 mb-0 pb-0">{{"home.it_solutions"|translate}}</p>
                      <p class="fs-16 text-lightGray">Horem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis.</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-12">
              <div>
                  <div class="py-2">
                      <img src="/assets/img/team 2.png" width="60" height="60" alt="">
                  </div>
                  <div>
                      <p class="fs-24 fw-500 mb-0 pb-0">{{"home.team"|translate}}</p>
                      <p class="fs-16 text-lightGray ">Horem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-12">
              <div>
                  <div class="py-2">
                      <img src="/assets/img/stars-1 1.png" width="60" height="60" alt="">
                  </div>
                  <div>
                      <p class="fs-24 fw-500 mb-0 pb-0">{{"home.expertise"|translate}}</p>
                      <p class="fs-16 text-lightGray text-start">Korem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<section class="our-unique-way d-flex text-white" lang="{{'_lang' | translate}}" dir="{{'_lang_dir' | translate}}">
  <div class="container-fluid  overflow-hidden py-0 my-0">
      <div class="container mt-5 d-flex flex-column align-items-lg-stretch  ">
              <div class="d-flex justify-content-between align-items-center py-5 px-2">
                  <div class="text-offer ps-0 ps-md-4">
                      <p class="fs-24 fw-bold">{{"home.our_unique_way"|translate}}</p>
                      <p class="fs-42 fs-sm-20">Worem ipsum dolor sit amet, consectetur.</p>

                  </div>
                  <div class="logo-offer">

                  </div>
              </div>
              <div class="chart-way w-100 d-flex align-items-end d-none d-md-block">
                  <div class="row ps-3">
                      <div class="col-4 d-flex align-items-end px-1">
                          <div class="chart-way-bg chart1 p-3">
                              <p class="fw-500 fs-32 fs-sm-20">{{"home.threats"|translate}}</p>
                              <p class="fs-20 fs-sm-18">Jorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis.</p>
                          </div>


                      </div>
                      <div class="col-4 d-flex align-items-end px-1">
                          <div class="chart-way-bg chart2 p-3 ">
                              <p class="fw-500 fs-32">{{"home.malware"|translate}}</p>
                              <p class="fs-20">Jorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis.</p>
                          </div>


                      </div>
                            <div class="col-4 d-flex align-items-end px-1">
                          <div class="chart-way-bg chart3 p-3">
                              <p class="fw-500 fs-32">{{"home.identity"|translate}}</p>
                              <p class="fs-20">Jorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis.</p>
                          </div>


                      </div>
                  </div>
              </div>
              <div class="chart-way-sm w-100 d-flex align-items-end d-block d-md-none">
                  <div class="d-flex flex-column ">
                      <div class=" d-flex align-items-end px-1">
                          <div class="chart-way-bg chart1 p-3">
                              <p class="fw-500 fs-32 fs-sm-18">Threats</p>
                              <p class="fs-20 fs-sm-16">Jorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis.</p>
                          </div>


                      </div>
                      <div class=" d-flex align-items-end px-1">
                          <div class="chart-way-bg chart2 p-3 ">
                              <p class="fw-500 fs-32 fs-sm-18">Malware</p>
                              <p class="fs-20 fs-sm-16">Jorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis.</p>
                          </div>


                      </div>
                            <div class=" d-flex align-items-end px-1">
                          <div class="chart-way-bg chart3 p-3">
                              <p class="fw-500 fs-32 fs-sm-18">Identity</p>
                              <p class="fs-20 fs-sm-16">Jorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis.</p>
                          </div>


                      </div>
                  </div>


              </div>


      </div>

      <div class="background-way ">
          <div class="cover-way">
          </div>

      </div>
  </div>

</section>

<section class="what-we-do py-5 overflow-hidden" lang="{{'_lang' | translate}}" dir="{{'_lang_dir' | translate}}">
  <div class="container my-3">
      <div class="d-flex justify-content-between align-items-start mt-5 px-2">
          <div class="text-do ps-lg-4 px-0 mx-0 d-inline">
              <p class="fs-38 fs-m-18 d-inline">Horem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              <p class="fs-16 py-2 w-75 w-sm-100 fs-m-14">Vorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis.</p>
          </div>
          <div class="logo-do mb-2 overflow-hidden">

          </div>
      </div>
      <div class="pt-4">
          <div class="d-flex justify-content-between align-items-center py-4 flex-column flex-lg-row">
              <div>
                  <img src="/assets/img/HRDF.png" alt="">
              </div>
              <div>
                  <img src="/assets/img/SPL1.png" alt="">
              </div>
              <div>
                  <img src="/assets/img/SPL.png" alt="">
              </div>
              <div>
                  <img src="/assets/img/MRDA.png" alt="">
              </div>
              <div>
                  <img src="/assets/img/ZATCA.png" alt="">
              </div>
          </div>
      </div>
  </div>
</section>

<section class="contact" lang="{{'_lang' | translate}}" dir="{{'_lang_dir' | translate}}">
  <div class="container-fluid px-0 mx-0 ">
      <div class="bg-contact">
          <div class="cover-contact">
          </div>
          <div class="container pb-3">
              <div class="row  d-flex flex-column flex-md-row justify-content-center align-items-center">
                  <p class="fs-38 text-white text-center py-4">{{"home.contact_us"|translate}}</p>
                  <div class="col-md-6 col-12 d-flex align-items-stretch">
                      <div class="d-flex flex-column align-items-center  p-2 bg-gray w-100 mb-1 mb-md-0">
                          <div >
                              <img src="/assets/img/Group 13.png" alt="">
                          </div>
                          <div class="text-center">
                              <p class="fw-bold fs-20 fs-sm-18 text-lightBlack pt-2 pb-0 mb-0">{{"home.address"|translate}}</p>
                              <p class="fw-bold fs-16 fs-sm-14 text-lightGray">{{"home.King_abdulaziz_yasmeen"|translate}}</p>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-3 col-12 d-flex align-items-stretch">
                      <div class="d-flex flex-column align-items-center p-2 bg-gray w-100 mb-1 mb-md-0">
                          <div>
                              <img src="/assets/img/Group 14.png" alt="">
                          </div>
                          <div class="text-center">
                              <p class="fw-bold fs-20 fs-sm-18 text-lightBlack pt-2 pb-0 mb-0">{{"home.call_us"|translate}}</p>
                              <p class="fw-bold fs-16 fs-sm-14 text-lightGray">+966 4567 541 32</p>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-3 col-12 d-flex align-items-stretch">
                      <div class="d-flex flex-column align-items-center p-2 bg-gray w-100 mb-1 mb-md-0">
                          <div>
                              <img src="/assets/img/Group 15.png" alt="">
                          </div>
                          <div class="text-center">
                              <p class="fw-bold fs-20 fs-sm-18 text-lightBlack pt-2 pb-0 mb-0">{{"home.email_us"|translate}}</p>
                              <p class="fw-bold fs-16 fs-sm-14 text-lightGray">info&#64;soor.security</p>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6 col-12 py-4 d-flex align-items-stretch">
                      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d927758.0831717912!2d46.16155788255792!3d24.72499156231945!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e2f03890d489399%3A0xba974d1c98e79fd5!2sRiyadh%20Saudi%20Arabia!5e0!3m2!1sen!2seg!4v1726596041275!5m2!1sen!2seg" width="550" height="365" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

                  </div>
                  <div class="col-md-6 col-12 py-4 d-flex align-items-stretch">
                    <div class="bg-gray p-4 pt-5 w-100">
                      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="">

                        <!-- Success and Error Alerts -->
                        <div *ngIf="successMessage" class="alert alert-success">{{ successMessage }}</div>
                        <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>

                        <!-- Loader (Spinner) -->
                        <div *ngIf="isLoading" class="text-center py-2">
                          <div class="spinner-border text-primary" role="status">
                            <span class="visually-hidden">Loading...</span>
                          </div>
                        </div>

                        <!-- Form Fields -->
                        <div class="d-flex">
                          <div class="p-2">
                            <input type="text" formControlName="name" placeholder="{{'home.your_name' | translate}}" class="form-control" (blur)="registerForm.get('name')?.markAsTouched()">
                            <!-- Validation Error for Name -->
                            <div *ngIf="isInvalid('name')" class="text-danger">
                              {{ getErrorMessage('name') }}
                            </div>
                          </div>
                          <div class="p-2">
                            <input type="email" formControlName="email" placeholder="{{'home.your_email' | translate}}" class="form-control" (blur)="registerForm.get('email')?.markAsTouched()">
                            <!-- Validation Error for Email -->
                            <div *ngIf="isInvalid('email')" class="text-danger">
                              {{ getErrorMessage('email') }}
                            </div>
                          </div>
                        </div>

                        <div class="p-2">
                          <input type="text" formControlName="subject" placeholder="{{'home.subject' | translate}}" class="form-control w-100" (blur)="registerForm.get('subject')?.markAsTouched()">
                          <!-- Validation Error for Subject -->
                          <div *ngIf="isInvalid('subject')" class="text-danger">
                            {{ getErrorMessage('subject') }}
                          </div>
                        </div>

                        <div class="p-2">
                          <textarea formControlName="message" placeholder="{{'home.message' | translate}}" rows="5" class="form-control w-100" (blur)="registerForm.get('message')?.markAsTouched()"></textarea>
                          <!-- Validation Error for Message -->
                          <div *ngIf="isInvalid('message')" class="text-danger">
                            {{ getErrorMessage('message') }}
                          </div>
                        </div>

                        <!-- Submit Button -->
                        <div class="d-flex justify-content-center py-2">
                          <button [disabled]="isLoading" type="submit" class="btn btnSubmit">{{ "btn.send_msg" | translate }}</button>
                        </div>

                      </form>
                    </div>
                  </div>


              </div>
          </div>

      </div>
  </div>
</section>

<section class="products" lang="{{'_lang' | translate}}" dir="{{'_lang_dir' | translate}}">
  <div class="container py-3">
      <div class="d-flex justify-content-between align-items-center mt-5 px-2">
          <div class="text-do ps-4 d-inline">
              <p class="fs-38 fs-m-20 text-lightBlack">{{"home.our_solutions"|translate}}</p>

          </div>
          <div class="logo-do mb-2">

          </div>
      </div>
  </div>
  <div class="container overflow-hidden">
    <div id="multiItemCarousel" class="carousel slide" data-bs-ride="carousel">
      <!-- Carousel Indicators -->
      <div class="carousel-indicators">
        @for (group of getGroupedProducts(); track $index) {
          <button type="button"
                  [attr.data-bs-target]="'#multiItemCarousel'"
                  [attr.data-bs-slide-to]="$index"
                  [class.active]="$index === 0"
                  aria-current="true"
                  [attr.aria-label]="'Slide ' + ($index + 1)">
          </button>
        }
      </div>
      <div class="carousel-inner">
        @for (group of getGroupedProducts(); track $index) {
          <div class="carousel-item" [class.active]="$index === 0">
      <div class="row pt-3 pb-5">
        @for (product of group ;track $index) {
          <div class="col-lg-3 col-6 p-0 overflow-hidden">
              <div class="bg-products1 p-0"
              [style.backgroundImage]="'url(' + getFormattedImagePath(product.imagePath) + ')'">
                  <div class="cover-products1">
                  </div>
                  <div class="text-products">
                      <div class="d-flex align-items-center">
                          <div>
                              <img src="/assets/img/Artwork.png" alt="">
                          </div>
                          {{ currentLang === 'ar' ? product.nameAr : product.nameEn }}
                      </div>
                      <div class="mt-3 mx-4">
                          <p class="fs-14">{{"btn.explore"|translate}}</p>
                      </div>
                  </div>
              </div>
          </div>
        }
        </div>
      </div>
    }
  </div>
    <!-- Carousel Controls -->
    <button class="carousel-control-prev" type="button" data-bs-target="#multiItemCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#multiItemCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
    </div>
  </div>
</section>

<section class="news overflow-hidden" lang="{{'_lang' | translate}}" dir="{{'_lang_dir' | translate}}">
  <div class="container py-3">
      <p class=" px-3 fs-38 text-lightDark">{{"home.our_news"|translate}}</p>
      <div class="px-0 pb-5 pt-4 mx-0 w-100">
          <div class="bg-news d-flex justify-content-center align-items-center py-3">
              <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                  @for (newsItem of newsList; track $index) {
                    <button
                    type="button"
                    [attr.data-bs-target]="'#carouselExampleAutoplaying'"
                    [attr.data-bs-slide-to]="$index"
                    [class.active]="$index === 0"
                    [attr.aria-label]="'Slide ' + ($index + 1)">
                  </button>

                  }
                </div>
                  <div class="carousel-inner">
                    @for (newsItem of newsList; track $index) {
                    <div class="carousel-item" [class.active]="$index === 0">
                      <div class="row d-flex align-items-center justify-content-between flex-column flex-lg-row flex-column-reverse">
                          <div class="col-lg-6 col-12">
                              <p class="fs-24 fw-bold text-lightDrak">{{ currentLang === 'ar' ? newsItem.titleAr : newsItem.titleEn  }}</p>
                              <p class="fs-16 text-lightGray my-3 py-2 ">
                              {{  currentLang === 'ar' ? newsItem.contentAr : newsItem.contentEn  | truncate : 150 }}...
                              </p>
                              <button class="btn btn-news">{{"btn.read_more"|translate}}</button>
                          </div>
                          <div  class="d-flex justify-content-end col-lg-6 col-12">
                              <img
                              [src]="newsItem.imagePath"
                              class="d-block img-fluid" style="height: 320px !important;"
                               alt="...">
                          </div>

                      </div>
                     </div>
                    }
                  </div>

                  <button class="carousel-control-prev " type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next " type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
          </div>
      </div>
  </div>
</section>

<section class="get-help " lang="{{'_lang' | translate}}" dir="{{'_lang_dir' | translate}}">
  <div class="container-fluid mx-0 px-0 overflow-hidden">
      <div class="row">
          <div class="col-md-5 col-12 d-flex align-items-stretch">
              <img src="/assets/img/Group 16.png" alt="" class="img-fluid img-help ">
          </div>
          <div class="col-md-7 col-12 d-flex align-items-stretch">
              <div class="d-flex flex-column pt-5 px-5 pb-0">
                  <div class="align-self-end  ">
                      <img src="/assets/img/blue_5.png" alt="">
                  </div>
                  <div class="align-content-stretch mt-5 w-75 pb-3 w-sm-100">
                      <p class="fs-32 fs-md-20 text-lightDark">{{"home.get_help_from _our_experts"|translate}}</p>
                      <p class="text-lightGray fs-16">Borem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus, ut interdum tellus elit
                          diam sit amet lacinia. Aliquam in elementum tels......
                      </p>
                      <div class="pt-3">
                          <button class="btn btn-help">{{"btn.request_now"|translate}}</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>

  </div>
</section>

