<div class="solution my-4 py-2" lang="{{'_lang' | translate}}" dir="{{'_lang_dir' | translate}}">
    <div class="container ">
        <div class="d-flex">
            <div class="">
                <p class="text-lightGray">{{"solutions.home"|translate}}</p>
            </div>
            <div class="px-2">
                <i class="text-lightBlack fa-solid fa-caret-left"></i>
            </div>
            <div>
                <p class="text-lightBlack">{{"solutions.solutions"|translate}}</p>
            </div>
        </div>
    </div>

    <section class="cybersecurity-governance my-5">
        <div class="container">
            <div class="row d-flex align-items-center justify-content-between flex-lg-row flex-column">
                <div class="col-lg-5 col-12">
                        <p class="fs-24 fw-bold">{{"solutions.cybersecurity_managed_services"|translate}}</p>
                        <p class="text-lightGray">{{"solutions.our_managed_security_services_are_designed"|translate}}</p>
                 
                </div>
                <div class="col-lg-6 col-12">
                    <div class="position-relative">
                        <img src="/assets/img/Rectangle 36.png" alt="" class="overflow-hidden w-100">
                        <div class="cover-img w-100"></div>
                    </div>
                </div>
            </div>
        </div>
        
    </section>
    <section class="cybersecurity-governance">
        <div class="container ">
            <div class="row d-flex align-items-start justify-content-between  flex-lg-row flex-column-reverse py-5">
                <div class="col-lg-6 col-12">
                    <div class="position-relative">
                        <img src="/assets/img/Rectangle 37.png" alt="" class="overflow-hidden w-100">
                        <div class="cover-img w-100"></div>
                    </div>
                </div>
                <div class="col-lg-5 col-12 text-lightGray">
                        <p class="fw-bold fs-18 text-orange ">{{"solutions.managed_services_catalogue"|translate}}</p>
                        <p class="py-1 mb-1 fw-bold">{{"solutions.managed_detection_and_response_MDR"|translate}}</p>
                        <ul class="">
                            <li class="py-1">{{"solutions.improve_security_posture_and_become_more"|translate}}</li>
                            <li class="py-1">{{"solutions.identify_and_stop_hidden_sophisticated_threats_through"|translate}}</li>
                            <li class="py-1">{{"solutions.respond_to_threats_more_effectively_and_restore"|translate}}</li>
                        </ul>
                      
                </div>                
            </div>
        </div>
    </section>
    <section class="cybersecurity-governance my-5">
        <div class="container text-lightGray">
            <div class="row d-flex align-items-center justify-content-between">
                <div class="col-lg-5 col-12">
                        <p class="fw-bold ">{{"solutions.incident_response_and_management"|translate}}</p>
                        <ul>
                            <li class="py-1">{{"solutions.delivers_actionable_advice_on_best_way"|translate}}</li>
                            <li class="py-1">{{"solutions.review_of_existing_monitoring"|translate}}</li>
                            <li class="py-1">{{"solutions.recommendations_for_areas_of_improvement"|translate}}</li>

                        </ul>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="position-relative">
                        <img src="/assets/img/Rectangle 38.png" alt="" class="overflow-hidden w-100">
                        <div class="cover-img w-100"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="cybersecurity-governance my-5">
        <div class="container text-lightGray">
            <div class="row d-flex align-items-center justify-content-between">
                <div class="col-lg-6 col-12">
                    <div class="position-relative">
                        <img src="/assets/img/Rectangle 39.png" alt="" class="overflow-hidden w-100">
                        <div class="cover-img w-100"></div>
                    </div>
                </div>
                <div class="col-lg-5 col-12">
                        <p class="fw-bold ">{{"solutions.compromise_assessment"|translate}}</p>
                        <ul>
                            <li>{{"solutions.identifies_ongoing_or_past_intrusions_within"|translate}}</li>
                            <li>{{"solutions.assesses_risk_by_identifying_weaknesses_in_security"|translate}}</li>
                            <li>{{"solutions.increases_your_organization_ability_to_respond"|translate}}</li>
                        </ul>
                        <p class="fw-bold ">{{"solutions.cyber_threat_intelligence"|translate}}</p>
                        <ul>
                            <li>{{"solutions.provides_insight_into_attacker_attribution"|translate}}</li>
                            <li>{{"solutions.prioritize_vulnerabilities_and_exposures_by_exploitation"|translate}}</li>
                            <li>{{"solutions.improve_defenses_by_understanding_cybercrime_actors_motivations"|translate}}</li>
                            <li>{{"solutions.detect_persistent_or_unseen_attacks_and_accelerate_investigation"|translate}}</li>

                        </ul>
                       
                </div>
            </div>
        </div>
    </section>

</div>